{% extends 'notes/index.html' %}


{% block content %}
    <h3>My notes</h3>

    <ul>
    {% for note in notes_list %}
        <div class="list-group">
            <a id="note_title" href="{% url 'note_detail' note.id %}" class="list-group-item-action
            list-group-item">{{ note.title }}</a>
        </div>
    {% endfor %}
    </ul>

    <a href="{% url 'new_note' 0 %}">
        <button type="button" class="btn btn-primary">Add a new note</button>
    </a>

    <div id = "filter">
    <p>Filter notes by category or reminder:</p>
    <form action="{% url 'filtered' %}">
        <label for="category"></label>
        <select name="category" id="category">
            <option value="all">All categories</option>
            {% for category in categories_list %}
                <option value="{{ category.title }}"
                        {% if request.GET.category == category.title %}
                            selected
                        {% endif %}>
                            {{ category.title }}
                </option>
            {% endfor %}
            <option value="uncategorized">Without category</option>
        </select>
        <label for="start_date">Start date:</label>
        <input type="date" name="start_date" id="start_date" value="{% if request.GET.start_date %}{{ request.GET.start_date }}{% endif %}">
        <label for="end_date">End date:</label>
        <input type="date" name="end_date" id="end_date" value="{% if request.GET.end_date %}{{ request.GET.end_date }}{% endif %}">
        <button class="btn btn-primary" type="submit">Filter</button>
    </form>
    </div>
    <a href="{% url 'categories' %}">
        <button type="button" class="btn btn-primary">Browse by category</button>
    </a>

{% endblock %}